@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
$background: #F6F6F6;

.comment {
    display: flex;
    flex-direction: row;
    position: relative;
    max-width: 680px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

.info-container {
    width: 65px;
    height: 65px;
    border: 3px solid $background;
    background: $background;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin-right: 15px;
}


.content-box {
    flex: 5;
    position: relative;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    background: $background;
    padding: 10px 12px;
    border-bottom: 1px solid #E5E5E5;
    border-radius: 4px 4px 0 0;
}

.content-box:before {
    border-width: 11px 13px 11px 0;
    border-color: transparent rgba(0, 0, 0, 0.05);
    left: -12px;
}

.content-box:before,
.content-box:after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 12px 10px 0;
    border-style: solid;
    border-color: transparent $background;
    top: 8px;
    left: -11px;
}

.head {
    display: flex;
    background: $background;
    padding: 10px 12px;
    border-bottom: 1px solid #b1b1b1;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
}

.user-name {
    flex: 2;
    margin-top: 3px;
    color: #03658c;
    font-size: 14px;
    font-weight: 700;
}

.anonymous-user-name {
    composes: user-name;
    color: #b1b1b1;
}

.comment-type {
    flex: 1;
    margin-left: 15px;
    font-size: 20px;
}

.good {
    color: green;
    composes: comment-type;
}

.bad {
    color: red;
    composes: comment-type;
}

.normal {
    composes: comment-type;
}

.timestamp {
    flex: 7;
    color: #b1b1b1;
    margin-top: 3px;
    margin-left: 15px;
    font-size: 14px;
}

.body {
    padding: 10px 12px;
}

.anonymous-icon {
    position: relative;
    background: #111;
    width: 100%;
    height: 100%;
}

.anonymous-head {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    background-color: #111;
    border-radius: 100%;
    box-shadow: inset -4px 2px 0px 0px #eee;
    z-index: 2;
}

.eye {
    width: 10px;
    height: 4px;
    background-color: #eee;
    border-radius: 0px 0px 10px 10px;
    position: absolute;
    top: 17px;
    box-shadow: 0px 0px 0px 0px #eee;
}

.left-eye {
    composes: eye;
    left: 4px;
}

.right-eye {
    composes: eye;
    left: 20px;
}

.anonymous-body {
  position: absolute;
    margin: 0;
    width: 60px;
    height: 60px;
    background-color: #111;
    border-radius: 30px 15px;
    box-shadow: inset -5px 2px 0px 0px;
    color: #eee;
    top: 40px;
    z-index: 1;
}