.container {
}

@keyframes slide-in {
  from {
    right: -600px;
  }
  to {
    right: -5px;
  }
}

.notice {
    position: fixed;
    right: -5px;
    z-index: 2000;
    bottom: 100px;
    animation: slide-in 0.75s 1 alternate ease-out;
}


.flash-container {
    position: relative;
    padding: 14px;
    background: #d9534f;
    color: white;
    border-radius: 5px;
}

.flash-container--alright {
  composes: flash-container;
  background: #02b875;
}

.close-flash {
    position: absolute;
    cursor: pointer;
    top: 2px;
    left: 5px;
}

.list {
    padding: 30px;
}

.item {
    padding: 15px;
    border-bottom: 2px solid #b1b1b1;
}

.item:last-child {
    border-bottom: none;
}

.close {
    text-align: right;
    cursor: pointer;
    top: 50px;
    transition: opacity 0.2s ease-in;
    opacity: 0.5;
    font-size: 20px;
}

.close:hover {
    opacity: 1;
}

.show {
    text-decoration: underline;
    cursor: pointer; 
}